body {
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: #f6fcff;
}
.textDescription {
  color: #707070;
}
