.Slider {
  #carouselControls {
    .carousel-item {
      .img-cover {
        height: 500px;
        @media (max-width: 768px) {
          height: 200px;
        }
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .carousel-control-prev {
      &:hover {
        background: linear-gradient(to left, rgba(0, 0, 0, 0), #422a69);
      }
    }
    .carousel-control-next {
      &:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), #422a69);
      }
    }
  }
}
